body {
	background-color: rgba(0, 0, 0, 1)
	
}
header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 400px;
	min-height: 100px;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: sans-serif;
}
header::before{
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}
header *{
	position: relative;
	z-index: 1;
	
}
#slider{
	width: 100%;
	height: 600px;
	display: flex;
	overflow: hidden;
	position: relative;
}
.slayt{
	min-width: 100%;
	height: 100%;
	animation: kaydir 30s infinite;
}
.slayt img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.7;
	transition: opacity 0.5s ease;
}
.yazi{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 50px;
	font-family: "Franklin Gothic Medium", sans-serif;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 10px black;
	z-index: 1;
	pointer-events: none;
}
.slider::before{
	content: "";
	position: absolute;
	inset: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 0;
}
@keyframes kaydir{
	0%, 15% { transform: translateX(0);}
	20%, 35% { transform: translateX(-100%);}
	40%, 55% { transform: translateX(-200%);}
	60%, 75% { transform: translateX(-300%);}
	80%, 95% { transform: translateX(-400%);}
	100% { transform: translateX(0);}
}



#dlogo{
	display: flex;
	align-items: center;
}
#dlogo h1{
	color: green;
	pointer-events: none;
	font-size: 52px;
	font-family: "Franklin Gothic Medium", cursive;
}
#basliklar{
	display: flex;
	gap: 50px;
	font-size: 30px;
	margin-left: auto;
}


.baslik a{
	text-decoration: none;
	color: white;
	transition: color 0.3s;
}

.baslik a:hover{
	transition: 0.3s;
	color: darkgreen;
}


.haber {
	color: white;
	
}
nav{
	font-size: 20px;
	background-color: green;
	padding: 1px;
}
nav a{
	color: whitesmoke;
	text-decoration: none;
	margin-left: 500px;
	font-size: 26px;
	font-family: "Clash Display", sans-serif;
}


h3 {
	color: green;
	font-size: 30px;
	margin: 0px;
}
h2{
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 40px;
}
hr {
	margin: 0px;
	background-color: grey;
}
#haberblogu{
	display: flex;
	padding: 50px;
	justify-content: space-between;
}
#haberblogu h2{
	font-size: 50px;
	font-family: sans-serif;
}


#Sonhbr{
	border-radius: 20px;
	padding: 10px;
	background-color: #2B2727;
}
#kategoriler{
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 50px;
}
.kategori{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.kategori img{
	height: 300px;
	width: 500px;
	border-radius: 15px;
	opacity: 0.6;
	transition: opacity 0.3s ease;
}
.kategori img:hover{
	opacity: 1;
	transform: scale(1.05);
	
}
.kategori h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #00b300;
	font-size: 30px;
	font-family: "Franklin Gothic Medium", sans-serif;
	text-shadow: 2px 2px 10px black;
	z-index:2;
	pointer-events: none;
}

a {
	text-decoration: none;
	color: green;
	transition: color 0.3s ease;
}
a:hover{ 
	transform: scale(1.05);
	transition: 0.2s;
	color: darkgreen;
}
#haber1{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber1 img{
	border-radius: 25px;
}
#haber1-metin h3{
	margin: 0 0 10px 0;
}
#haber1-metin p{
	margin: 0;
	font-size: 22px;
	
}
#haber2{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber2 img{
	border-radius: 25px;
}
#haber2-metin h3{
	margin: 0 0 10px 0;
	
}
#haber2-metin p{
	margin: 0;
	font-size: 22px;
	
}
#haber3{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber3 img{
	border-radius: 25px;
}
#haber3-metin h3{
	margin: 0 0 10px 0;
	
}
#haber3-metin p{
	margin: 0;
	font-size: 22px;
}
#haber4{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber4 img{
	border-radius: 25px;
}
#haber4-metin h3{
	margin: 0 0 10px 0;
}
#haber4-metin p {
	margin: 0px;
	font-size: 22px;
}
#haber5{
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber5 img{
	border-radius: 25px;
	
}
#haber5-metin h3{
	margin: 0 0 10px 0;
	
}
#haber5-metin p{
	margin: 0;
	font-size: 22px;
}
#haber6 {
	display: flex;
	gap: 20px;
	align-items: flex-start;
	margin-top: 5px;
	margin-bottom: 5px;
}
#haber6 img{
	border-radius: 25px;
	
}
#haber6-metin h3{
	margin: 0 0 10px 0;
	
}
#haber6-metin p{
	margin: 0;
	font-size: 22px;
}