body {
	background-color: rgba(0, 0, 0, 1)
	
}
html {
    scroll-behavior: smooth;
}
header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 150px;
	min-height: 100px;
	background-image: url("../images/header.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	font-family: sans-serif;
}
header::before{
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 0;
}
header *{
	position: relative;
	z-index: 1;
	
}
#dlogo{
	display: flex;
	align-items: center;
}
#dlogo h1{
	color: green;
	pointer-events: none;
	font-size: 52px;
	font-family: "Franklin Gothic Medium", cursive;
}
#basliklar{
	display: flex;
	gap: 50px;
	font-size: 30px;
	margin-left: auto;
}


.baslik a{
	text-decoration: none;
	color: white;
	transition: color 0.3s;
}

.baslik a:hover{
	transition: 0.3s;
	color: darkgreen;
}



nav{
	font-size: 20px;
	background-color: green;
	padding: 1px;
}
nav p{
	margin-left: 200px;
	color: white;
}
nav a{
	color: whitesmoke;
	text-decoration: none;
	font-size: 26px;
	font-family: "Clash Display", sans-serif;
}

h3 {
	color: green;
	font-size: 30px;
	margin: 0px;
}
h2{
	margin: 0px;
	text-align: center;
	color: white;
	font-size: 40px;
}
h5,
h4{
	color: green;
	text-align: center;
	font-size: 22px;
	font-family: "Franklin Gothic Medium", sans-serif;
}
hr {
	margin: 0px;
	background-color: grey;
}
#blok{
	display: flex;
	padding: 50px;
	justify-content: space-between;
}
#blok h3{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
}
#haber{
	border-radius: 20px;
	padding: 10px;
	background-color: #2B2727;
	max-width: 1100px;
}
#haber img{
	display: block;
	margin: auto;
	border-radius: 10px;
	width: 800px;
	height: 400px;
	object-fit: cover;
}

#kategoriler{
	position: relative;
	overflow: hidden;
	text-align: center;
	padding: 50px;
}
.kategori{
	position: relative;
	display: inline-block;
	margin: 20px;
}
.kategori img{
	height: 300px;
	width: 500px;
	border-radius: 15px;
	opacity: 0.6;
	transition: opacity 0.5s ease;
	transition: 0.5s;
	transform: scale(1);
}
.kategori img:hover{
	opacity: 1;
	transition: 0.5s;
	transform: scale(1.05);
}
.kategori h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #00b300;
	font-size: 30px;
	font-family: "Franklin Gothic Medium", sans-serif;
	text-shadow: 2px 2px 10px black;
	z-index:2;
	pointer-events: none;
}

a {
	text-decoration: none;
	color: green;
	transition: color 0.3s ease;
}
a:hover{ 
	transform: scale(1.05);
	transition: 0.2s;
	color: darkgreen;
} 
.default {
	color: white;
	font-family: "Franklin Gothic Medium", sans-serif;
}